.profile-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(104, 104, 104);
  gap: 100px;
  height: auto;

  margin: 1rem 27.8rem;
}

.main-wrapper {
  background-color: black;
  color: #fff;
  height: 100vh;
}

.profile-container {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
}

.profile-image img {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  margin: 1rem 0;
}

.profile-name-follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.profile-name-follow p {
  display: flex;
  font-size: 30px;
}

.profile-name-follow button {
  background-color: rgb(91, 217, 255);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 0;
  outline: 0;
}

.profile-name-follow button:hover {
  cursor: pointer;
  background-color: rgb(91, 181, 255);
}

.personal-counters {
  display: flex;
  justify-content: space-between;
}

.personal-counters p {
  padding: 0.5rem;
  font-size: 20px;
}

.profile-bio {
  font-size: 26px;
  padding: 0.5rem;
}

.personal-posts {
  margin: 1rem 27.8rem;
  flex-wrap: wrap;
  height: auto;
}

.personal-posts img {
  width: 309px;
  height: 309px;
  margin: 0.3rem;
}

.blurred {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgb(109, 107, 108, 0.7);
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.is-editing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #191919;
  border-radius: 10px;
  padding: 2rem;
  width: 40%;
  height: auto;
  gap: 20px;
  z-index: 2;
}

.is-editing input,
textarea {
  width: 50%;
  font-size: 24px;
  padding-left: 1%;
}

.is-editing textarea {
  height: 15vh;
}

.is-editing img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.button-wrapper button {
  background-color: #0095f6;
  outline: 0;
  border: 0;
  cursor: pointer;
  width: 45%;
  padding: 3%;
  font-size: 20px;
  border-radius: 5px;
}

.image-input {
  display: none;
}

.choose-image-label {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #0095f6;
  border-radius: 5px;
  width: 10rem;
  font-size: 20px;
}

.choose-image-label:hover {
  cursor: pointer;
}
