.posts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.posts-card {
  height: auto;
  border-bottom: 2px solid grey;
  margin-bottom: 2%;
}

.user-post-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin: 20px 0px;
}

.user-post-info img {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 25px;
}

.post-container {
  display: flex;
  flex-direction: column;
}

.user-interaction-section {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.post-container img {
  border-radius: 1px solid black;
  border-radius: 5px;
  width: 35rem;
  height: 40rem;
}

.interaction-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 40px;
}

.post-likes-caption {
  font-size: 18px;
}

.comment-section {
  margin-bottom: 1rem;
}

.comment-section textarea {
  background-color: black;
  color: #fff;
  margin-top: 1rem;
  width: 100%;
  border: none;
  height: 100px;
  overflow: auto;
  resize: none;
}

.image-preview img {
  width: 35rem;
  height: 40rem;
}

.post-image-input {
  display: none;
}

.image-input-label {
  display: flex;
  justify-content: center;
  width: 7rem;
  cursor: pointer;
  background-color: blue;
  padding: 0.5rem;
}

.post-inputs {
  display: flex;
  justify-content: space-between;
}

.post-inputs textarea {
  resize: none;
  flex: 1;
}

.create-post-form {
  width: 35rem;
  margin-top: 1rem;
}
