.header-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 7rem;
  background-color: black;
  border-bottom: 1px solid rgb(92, 92, 92);
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 40px;
}

.header-left p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  color: #fff;
}

.header-right span:hover {
  cursor: pointer;
  color: red;
}

.header-logo {
  font-size: 40px;
  margin: 0;
}
